*{
    font-family: 'Times New Roman', Times, serif;
}
body {
    background-color: rgba(243, 243, 243, 0.863);
    color: #000000;
}
.navbar {
    background-color: #000000 !important;
}
.Presentacion{
    background-color: #000000;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    flex-direction: column;
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}
@media (max-width: 768px) {
    .Presentacion img {
        width: 200px;
        height: 200px;
        object-fit: cover; /* Opcional: asegura que la imagen se recorte bien sin deformarse */
    }
}

.nav-link{
    font-size: 20px;
    text-decoration: none;
    color: black;
    padding: 0px;
    color: white;
}
.nav-link:hover {
    border-bottom: 2px solid #f8f9fa;
    transition: 0.2s;
}
.scroll-indicator {
  font-size: 100px;
  animation: bounce 1.5s infinite; 
  margin-top: 80px;
}

@keyframes bounce {
    0%, 100% {
    transform: translateY(0);
    }
    50% {
    transform: translateY(10px);
}}

.container-box {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 900px;
    text-align: center;
}
.fw-bold {
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.profile-pic {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 15px;
}
.habilidades {
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.formacion-experiencia {
    padding: 100px;
}

#sobre-mi{
    padding: 100px;
}
#sobre-mi h2{
    margin-bottom: 100px;
}
#experiencia{
    padding: 100px;
}
#experiencia h2{
    margin-bottom: 100px;
}
#formacion{
    padding: 100px;
}
#formacion h2{
    margin-bottom: 100px;
}
#formacion{
    padding: 100px;
}
#proyectos h2{
    margin-bottom: 100px;
}
#contacto h2{
    margin-bottom: 100px;
}
.skill-item img {
    width: 200px;
    height: 100px;
}
footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
.card img{
    width: 100%;
    height: 200px;
}
