body {
    background-color: #f8f9fa;
    color: #343a40;
}
.navbar {
    background-color: #000000 !important;
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}
.nav-link{
    font-size: 20px;
    text-decoration: none;
    color: black;
    padding: 0px;
    color: white;
}
.nav-link:hover {
    border-bottom: 4px solid #f8f9fa;
    color: #00F7C7;
    transition: 0.2s;
}
.container-box {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 900px;
    text-align: center;
}
.profile-pic {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 15px;
}
.skill-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.skill-item img {
    width: 200px;
    height: 100px;
}
footer {
    background-color: #343a40;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}